body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f0f0f0;
    font-family: 'Cormorant', sans-serif;
}

/* Untuk semua browser moden */
/* html, body {
  margin: 0;
  padding: 0;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
}

body::-webkit-scrollbar {
  display: none;
} */

.space {
    height: 80px;
}

.kad-kawin {
    background: url('img/flora-bg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 13px;
    margin: 5px;
    padding: 0px;
    z-index: 0;
    filter: drop-shadow(3px 3px 5px rgba(0, 0, 0, 0.5));
    position: relative;
    width: 400px;
    height: 560px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sakura-falling {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: 0;
}

.sakura {
    background: linear-gradient(120deg, #805fb6, #FFC5D0) !important;
    z-index: 100;
    position: absolute;
    /* atau fixed jika perlu skrin penuh */
}

.konten {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    /* z-index: 2; */
    text-align: center;
    /* opacity: 0; */
}

.konten h2 {
    /* font-family: 'Great Vibes', cursive; */
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}

.konten h3 {
    font-family: 'Great Vibes', cursive;
    font-size: 35px;
    font-weight: normal;
    margin-bottom: 10px;
}

.konten h4 {
    font-size: 15px;
    font-weight: normal;
}

.konten h5 {
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    font-size: 20px;
}

.bismillah {
    font-family: 'Scheherazade New', serif;
    font-size: 36px;
    color: #4b3f72;
    text-align: center;
}

.bismillah::before {
    content: "﷽";
    font-size: 60px;
    display: block;
    color: #6a1b9a;
}

.doa .bismillah,
.doa .bismillah::before {
    font-size: 15px;
    font-family: 'Amiri', serif;
}

.nama-pengantin {
    color: #6a1b9a;
    display: block;
    margin-block-start: 0.83em;
    font-family: 'Great Vibes', cursive;
    font-weight: normal;
    font-size: 20px;
    border: 2px solid #d1c4e9;
    padding: 15px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 500px;
}

.nama {
    color: #6a1b9a;
}

.ikon {
    display: block;
    color: #6a1b9a;
}

.konten .ikon {
    font-size: 25px;
    padding-bottom: 25px;
}

.countdown {
    display: flex;
    border: 2px solid #d1c4e9;
    margin: 10px 0px;
    padding: 5px;
    border-radius: 20px;
    background: #ffffff;
    max-width: 500px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* font-family: serif; */
}

.countdown div {
    /* background: #f8e8f0; */
    padding: 3px 5px;
    border-radius: 12px;
    text-align: center;
    /* box-shadow: 0 4px 8px rgba(0,0,0,0.1); */
}

.aturcara {
    display: block;
    border: 2px solid #d1c4e9;
    margin: 20px 0px;
    padding: 10px 30px;
    border-radius: 10px;
    background: #ffffff;
    width: 190px;
    max-width: 550px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.aturcara span {
    display: block;
}

.bulat {
    position: absolute;
    left: -15px;
    top: 50%;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background-color: #6a1b9a;
    border-radius: 50%;
    z-index: 2;
}

.line {
    height: 220px;
    position: absolute;
    top: 90px;
    bottom: 0;
    left: -9px;
    width: 2px;
    background-color: #6a1b9a;
}

.kad-ucapan {
    display: block;
    border: 2px solid #d1c4e9;
    /* margin: 20px 0px; */
    margin-top: 20px;
    margin-bottom: 5px;
    padding: 10px 30px;
    border-radius: 10px;
    background: #ffffff;
    width: 260px;
    height: 350px;
    max-width: 550px;
    position: relative;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Edge */
}

.ucapan p {
    font-family: Caveat;
    margin: 2px;
}

.divider {
    height: 2px;
    width: 100%;
    background-color: #ecccff;
    margin: 10px 0;
}

.btn-ucapan {
    border-radius: 24px;
    border-style: none;
    height: 48px;
    width: 170px;
    padding: 0 30px;
    font-family: 'Cormorant', sans-serif;
    font-size: 14px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    color: #ffffff;
    background-color: #6a1b9a;
}

.btn-ucapan:hover {
    background-color: #501475;
    transform: scale(0.95);
}

.kerawang {
    background-color: #6a1b9a;
    -webkit-mask-image: url('img/kerawang.png');
    mask-image: url('img/kerawang.png');
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    -webkit-mask-position: center;
    mask-position: center;
    height: 25px;
    aspect-ratio: 5/1;
}

.kerawang.terbalik {
    transform: rotate(180deg);
}

.doa {
    width: 250px;
}

.doa p {
    font-size: 15px;
}

.navigasi {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
    width: 380px;
    /* height: 40px; */
    height: auto;
    border-radius: 20px;
    background: linear-gradient(0deg, #000000, #434343);
    /* gradient hitam */
    padding: 10px 0;
    text-align: center;
    justify-content: center;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.navigasi .d-flex {
    display: flex;
    gap: 25px;
    justify-content: center;
    align-items: center;
}

.navigasi a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    /* font-family: Quicksand; */
}

.navigasi .d-flex .ikon {
    font-size: 18px;
}

.custom-offcanvas {
    /* width: 400px;
    left: 50% !important;
    transform: translateX(-50%) !important;
    bottom: 0;
    border-radius: 12px 12px 0 0;
    box-shadow: 0 -5px 15px rgba(0,0,0,0.3); */
    height: auto !important;
    max-height: 500px !important;
}

.offcanvas-body {
    background-color: #6a1b9a;
}

.custom-offcanvas-header {
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
}

.input-group-text .ikon {
    align-content: center;
    height: 30px;
    width: 25px;
}

form {
    max-width: 280px;
}

.kandungan-kad {
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 15px;
    margin: 10px 0px;
}

.kandungan-info {
    width: 150px;
}

.kandungan-kad .btn {
    border-radius: 50%;
    aspect-ratio: 1;
    width: 40px;
    /* You can adjust this size */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    font-size: 16px;
    /* Adjust icon size */
    color: #fff;
}

#gate-container {
    position: fixed;
    inset: 0;
    z-index: 9999;
    pointer-events: auto;
}

.door {
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    /* background-color: #8b0000; */
    transition: transform 2s ease-in-out;
}

.left-door {
    left: 0;
    border-right: 2px solid white;
}

.right-door {
    right: 0;
    border-left: 2px solid white;
}

.left-door, .right-door {
    background: url('img/flora-bg.png');
    background-size: contain;
    background-position: center;
    height: 100vh;
}

.open-left {
    transform: translateX(-200%);
}

.open-right {
    transform: translateX(200%);
}

.no-scroll {
    /* height: 100vh; */
    overflow: hidden;
}

.gate-seal {
    position: absolute;
    top: 50%;
    left: -70px;
    /* separuh daripada lebar seal */
    transform: translateY(-50%);
    width: 140px;
    aspect-ratio: 1;
    background: radial-gradient(circle, #6a1b9a 40%, #501475 60%);
    border: 4px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-family: 'Great Vibes', cursive;
    font-size: 1.2rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 1s ease-in-out;
    z-index: 10001;
}


/* #audio-control {
  position: fixed;
  bottom: 90px;
  right: 120px;
  z-index: 999;
} */

/* Untuk skrin telefon sangat kecil (maks 480px) */
@media (max-width: 480px) {
    .kad-kawin {
        width: 98vw;
        height: 560px;
    }

    .navigasi {
        width: 98vw;
    }
}

@-webkit-keyframes moveUpDown {
    0% {
        transform: translateY(0) rotate(10deg);
    }

    25% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(0) rotate(-10deg);
    }

    75% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0) rotate(10deg);
    }
}

@keyframes moveUpDown {
    0% {
        transform: translateY(0) rotate(10deg);
    }

    25% {
        transform: translateY(-2px);
    }

    50% {
        transform: translateY(0) rotate(-10deg);
    }

    75% {
        transform: translateY(-2px);
    }

    100% {
        transform: translateY(0) rotate(10deg);
    }
}

.seal-bouncing {
  animation: moveUpDown 1s ease-in-out infinite;
}

